.features {
  margin: -15px;
  padding-left: 15px;
  padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;
  // align-items: center;

  @media screen and(max-width: $mobile-upper) {
    margin-top: 60px;
    width: 100%;
  }

  @media screen and(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}

.item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 192px;
  padding-top: 25px;
  text-align: center;

  background-color: $background-team-color;

  height: 120px;
  border-radius: 4px;

  @media screen and (max-width: $mobile-upper) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }
}

.list {
  margin: 15px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15) / 2);
  }
}

@media screen and (max-width: $mobile-upper) {
  .list + .list:not(:first-child) {
    margin-top: 30px;
  }
}

.discript {
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;

  @media screen and(max-width: $mobile-upper) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 354px;
  }
}

.little-title {
  margin-top: 30px;

  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and(max-width: $mobile-upper) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and(min-width: $tablet) {
    // margin-left: -180px;
  }
}
