.conteiner {
  &.finish {
    margin-top: 60px;
  }
}

.finish {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  background-color: $footer-color;

  @media screen and (max-width: $mobile-upper) {
    max-width: 480px;
    height: 603px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 768px;
    height: 463px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    height: 292px;
    margin-top: 94px;
  }
}

.footer-logo {
  margin-top: 60px;

  @media screen and (max-width: $mobile-upper) {
    margin-left: 163px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 115px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 15px;
  }
}

.main-adress {
  // @media screen and (min-width: $desktop) {
  //   margin-left: 214px;
  // }
}

.adress {
  &-block {
    @media screen and (max-width: $mobile-upper) {
      margin-left: 124px;
    }
    @media screen and (min-width: $tablet) {
      margin-left: 76px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 15px;
    }
  }

  &-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    color: $white-color;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }
}

.contacts {
  @media screen and (max-width: $mobile-upper), (min-width: $tablet) {
    margin-left: 35px;
    margin-top: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 0;
  }

  & + .contacts {
    margin-top: 16px;
  }

  a {
    margin-top: 8px;
    color: $footer-contacts-color;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }
}

.footer {
  &-list {
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    align-items: center;

    @media screen and (min-width: $tablet) {
      right: 89px;
      top: -5px;
    }

    @media screen and (min-width: $desktop) {
      left: 169px;
      top: -5px;
    }
  }

  &-contact {
    display: flex;
    margin-top: 20px;
    margin-left: 128px;

    justify-content: space-between;
    width: 206px;

    .item {
      @media screen and (max-width: $mobile-upper), (min-width: $tablet) {
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms $timing-function;
      }
    }
    .item + .item {
      margin-left: 10px;
    }
  }
}

.paragraph {
  margin-top: 60px;
  margin-left: 159px;
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    margin-top: 70px;
    margin-left: 135px;
  }

  &-sign {
    color: $white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    left: 50%;

    @media screen and (max-width: $mobile-upper) {
      margin-top: 200px;
      margin-left: 131px;
    }

    @media screen and (min-width: $tablet) {
      margin-left: 116px;
    }

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: 65px;
      left: 600px;
    }
  }
}

/* Автор и год */

.go-it {
  position: absolute;
  top: 211px;
  left: 431px;
  color: var(--goit-color);
  font-size: 12px;
  line-height: 2;

  @media screen and(max-width: $mobile-upper), (min-width: $tablet) {
    display: none;
  }
}
