.header-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
  }
}
.nav-main {
  position: relative;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $mobile-upper) {
    max-width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;

    // position: fixed;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    display: flex;
  }
}

.text-nav {
  border: none;

  @media screen and (min-width: $tablet) {
    display: flex;

    width: 294px;
    height: 48px;
    margin-right: 84px;
    // margin-left: 81px;
    margin-top: 15px;
  }

  .item {
    background-color: #ffffff;

    @media screen and (max-width: $mobile-upper) {
      display: block;
      margin-top: 60px;
      padding: 0;
      height: 21px;
    }

    @media screen and (min-width: $tablet) {
      padding: 0;
      max-width: 294px;
      height: 48px;
    }
  }

  @media screen and (max-width: $mobile-upper) {
    .item + .item:not(:first-child) {
      margin-top: 40px;
    }
  }

  @media screen and (min-width: $tablet) {
    .item + .item {
      margin-left: 50px;
    }
  }
}

.link {
  position: relative;
  // display: block;
  padding: 0;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  @media screen and(min-width: $tablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.link.accent::after {
  content: "";

  position: absolute;
  // margin-top: 95px;
  left: 0;
  top: 25px;
  // display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $link-color;

  opacity: 1;

  @media screen and (min-width: $tablet) {
    top: 44px;
  }
}

.link.accent {
  color: $link-color;
}

//

.text-contacts {
  @media screen and (min-width: $tablet) {
  }

  .link {
    color: $paragraph-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    @media screen and(min-width: $tablet) {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }

  .item {
    // display: block;

    padding: 0;

    @media screen and (max-width: $mobile-upper) {
      margin-top: 60px;
      height: 21px;
      background-color: #ffffff;
    }

    @media screen and (min-width: $tablet) {
      background-color: inherit;
      height: 14px;
      max-width: 138px;
    }

    @media screen and (max-width: $mobile-upper) {
      &:not(:first-child) {
        margin-bottom: 60px;
      }
    }
  }

  @media screen and (max-width: $mobile-upper) {
    .item + .item {
      margin-top: 16px;
    }
  }

  @media screen and (min-width: $tablet) {
    .item + .item {
      margin-top: 10px;
    }
  }
}

.link {
  &:hover,
  &:focus {
    color: $link-color;
  }
}

.icon-envelope,
.icon-phone {
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}

.main-logo {
  width: 141px;

  @media screen and(max-width: $mobile-upper) {
    margin-top: 16px;
    margin-left: 15px;
  }
}

.menu-button {
  display: inline-flex;
  margin-top: 10px;
  // margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    fill: $link-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  text-align: center;
  background-color: $white-color;

  @media screen and (min-width: $tablet) {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin: 0;
    // max-width: $tablet;
    // margin-left: auto;
    // margin-right: auto;
    // max-width: 516px;
    // padding-left: 15px;
    // padding-right: 15px;
  }

  @media screen and (max-width: $mobile-upper) {
    &.is-open {
      display: block;
      text-align: center;
    }
  }

  @media screen and (max-width: $mobile-upper) {
    display: none;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
