.nav-main {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.main-logo {
  width: 141px;
  margin-top: 16px;
}

.menu-button {
  display: inline-flex;
  margin-top: 10px;
  // margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
