$primary-text-color: #212121;
$paragraph-color: #757575;
$link-color: #2196f3;
$background-color: rgba(33, 150, 243, 0.9);
$white-color: #ffffff;

$footer-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);

$goit-color: rgba(255, 255, 255, 0.4);
$background-team-color: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
